// Main Styling 2

@import "partials/login.scss";
@import "partials/main-menu.scss";
@import "partials/sidebar.scss";
@import "partials/page.scss";
@import "partials/charts.scss";
@import "partials/calendar.scss";
@import "partials/report.scss";
@import "partials/online.scss";
@import "partials/assignments.scss";
@import "partials/course-outline.scss";

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: block;
    box-sizing: border-box;
}

title {
     display: none;
}









